﻿@*@model TravelTripProje.Models.Siniflar.Yorumlar*@
<div class="content-form">
    <h3>
        Değerli görüşlerinizi bizimle paylaşmanızı çok isteriz 🤍
    </h3>
    <form method="post">
        <input type="hidden" placeholder="ID" name="BlogId" value="@ViewBag.deger" required />
        <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
        <input type="text" placeholder="Mail Adresi" name="Mail" required />
        <textarea placeholder="Yorum..." name="Yorum" required></textarea>
        <input type="submit" value="Yorum Yap" />
    </form>
</div>
