@using TravelTripProje.Models.Siniflar
@model List<Blog>

<div class="box1-left">
    @foreach (var item in Model)
    {
        <div class="bot-img">
            <a href="/Blog/BlogDetay/@item.Id">
                <img src="@item.BlogImage" alt="" style="width:120px ; height:80px" />
            </a>
        </div>
        <div class="bot-desc1">
            <p>@item.Aciklama.Substring(0, 80)... </p>
        </div>
        <div class="clear"></div>
    }
</div>
